{% load bootstrap5 %}
{% load litreview_extras %}

<div class="review_creation_form_items_container">
    <label for="title" class="pt-2 form-label fw-light">Titre</label>
    <input class="form-control" type="text" name="headline">
    <label for="rating" class="pt-2 form-label fw-light">Note</label>
    <div class="d-flex flex-row justify-content-between pb-1">
        <p><input type="radio" name="rating" value="0" checked="checked"> - 0</p>
        <p><input type="radio" name="rating" value="1"> - 1</p>
        <p><input type="radio" name="rating" value="2"> - 2</p>
        <p><input type="radio" name="rating" value="3"> - 3</p>
        <p><input type="radio" name="rating" value="4"> - 4</p>
        <p><input type="radio" name="rating" value="5"> - 5</p>
    </div>
    <label for="body" class="form-label fw-light">Commentaire</label>
    <textarea class="form-control" name="body" rows="8" cols="80"></textarea>
</div>
<div class="pt-3 d-flex justify-content-center">
    <button class="btn btn-primary text-decoration-none px-3" type="submit" name="button">Envoyer</button>
</div>
