{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}SUPPRIMER VOTRE CRITIQUE{% endblock title %}

{% block content %}
<div class="">
    <div class="d-flex flex-column align-items-center">
        <h2>Supprimer votre critique du ticket "{{ review.ticket.title }}"</h2>
        <form class="form" action="#" method="post">
          {% csrf_token %}
          <div class="buttons_container">
            <button class="btn btn-primary text-decoration-none px-3" type="submit" name="button">Supprimer</button>
          </div>
        </form>
    </div>
</div>
{% endblock content %}
